.header{
    
    background-color: #1f2937;
    display:flex;
    justify-content: space-around;

  
}
.logo{
    font-family: 'Roboto' sans-serif;
    color: white;
    display:flex;
   
}
img{
    display:flex;
    width: 1000px;
    


}
.image{
    display:flex;
    height: 600px;
    width: 1000px;
   
}
.one{
   display: flex;
   justify-self: center;
   margin-left: -1350px;
   margin-top: 200px;
   color: white;

}
.two{
    display:flex;
    flex-direction: column;
    align-content: center;
}